/* set our defaults and our constants.we need to use the ROOT selector */

@import url('https://fonts.googleapis.com/css2?family=Rajadhani:wght@300..700&family=Roboto:wght@100..900&family=Roboto+Mono:wght@100..700&family=Saira+Stencil:wght@100..900&display=swap');

*{
    --base: #61a0afff;
    --borderColor: #96c9dcff;
    --cardColors: #f06c9bff;
    --accentColor: #f9b9b7ff;
    --color: #f5d491ff;
    font-family: "Roboto", sans-serif;
}
/*selecting just the body element*/

body {
    background-color: grey;
    background-image: url('./assets/css-pattern-by-magicpattern.png');
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

header {
    padding-top:16px;
    padding-bottom: 16px;
    padding-bottom: 32px;
    font-family: "Roboto", sans-serif;
    color:var(--accentColor);
    font-size:32px;
    font-weight:700;
    background-color: rgb(25,25,25);
    /*opacity is the property that allows us to see how see-through our elements are. range of value: 1 is 100% opaque and 0 is invisible */
    opacity: .82;
    animation: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes myAnimation {
    0%{color:blue;}
    100%{color:var(--accentColor);}
}
header::first-letter{
    font-size: 48px;

}

/*stlye the tile card/hero text and select by class */

.title{
    font-family: "Rajadhani",sans-serif;
    font-weight: 600;
    font-style:normal;
    font-size:72px;
    margin-bottom:32px;
    line-height: 84px;

}   

.title::first-letter{
    color:var(--accentColor);
}

h2{
    font-family: "Rajadhani", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size:36px;
    margin-bottom: 32px;
    text-transform: uppercase;
    color:#FFF;
    text-shadow: 3px 2px 0px var(--accentColor);
}




.cards div, .cards button {

    background-color: var(--cardColors);
    padding: 16px; 
    border: .5px solid var(--borderColor);
    border-radius: 4px;
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 24px; 
    transition: all 500ms; 

}

.cards div:hover, .cards button:hover{

    box-shadow: 8px 8px var(--accentColor);
  

}

.cards div > img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 1px 1px rgba(0,0,0,.4);
}

h3 {
    color: #FFF;
        font-family: "Roboto Mono";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 126.637%;
        /* 40.524px */
        letter-spacing: 3.52px;
        text-transform: uppercase;
}

.games > ul {
    background-color: var(--cardColors);
    font-size: 24px; 
    list-style-image: url('./assets/arrow_forward_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg');
}

.games > ul li { 
    padding: 16px; 
}

.year { 
    color: var(--accentColor);
}

footer {
    background-color: var(--base);
    padding: 32px;
    text-align: center;
    color: #FFF;
}

footer h2 {
    margin-bottom: 16px;
}

footer h3 {
    font-size: 24px;
    color: var(--accentColor);
}